body,html {
  margin: 0;
  padding: 0;
  min-width:1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}
.button {
  font:inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.main-header {
  background-color: #eeeeee;
  margin:0;
  padding:0;
/*  outline: 3px solid blue;*/
}

.site-navigation,
.user-navigation,
.slides-switches,
.description-list,
.partners-list,
.footer-social,
.feature-list,
.catalog-list,
.catalog-sort,
.pagination-list {
  list-style-type: none;
  padding:0;
  margin: 0;

}

.main-navigation-wrapper {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
  width:100%;
  padding-top: 48px;
/*  outline:3px solid yellow;*/
}

.sliders,
.inner-page-header {
  margin: 0;
  padding:0;
  background-color: #eeeeee;
}
.sliders-wrapper {
 margin: 0 auto;
  padding:0;
/*  width:1440px;*/
/*outline:1px solid blue;*/
}

.container {
  margin: 0 auto;
  padding:0 20px;
  width:1160px;
/*outline:2px solid green;*/
}


.main-navigation-wrapper .container {
  display: flex;
  justify-content:space-between;
  align-items:center;
/*  outline:2px solid red;*/
}

.description .container {
  display: flex;
}

.inner-page-header .page-title{
  margin:80px auto 108px auto;
}

.site-navigation {
  width:440px;
  margin-left:138px;
  display: flex;
  justify-content:space-between;
/*  outline:1px solid red;*/

}

.site-navigation,
.user-navigation {
  padding:0;
  padding-top: 20px;
}

.user-navigation {
  margin-left:180px;
}

.user-navigation .cart-link {
  padding-left:40px;
  position:relative;
}

.cart-link:before {
  content:"";
  width:15px;
  height:15px;
  position:absolute;
  top:7px;
  left:0px;
  background-image:url("../img/cart-icon.svg");
}


.main-header-logo {
  width:160px;
  height:65px;
}

.main-header-logo:hover {
  opacity:0.8;
}

.main-header-logo:active {
  opacity:0.3;
}

.main-wrapper .container {
  display: flex;
}


.container-firstslider,
.container-secondslider,
.container-thirdslider {

  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  padding: 78px 0 80px 0;
}
.container-firstslider {
  background-image:url("../img/nerds-index-slide1.png");
}

.container-secondslider {
  background-image:url("../img/nerds-index-slide2.png");
}

.container-thirdslider {
  background-image:url("../img/nerds-index-slide3.png");
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-description {
  width:520px;
/*  outline:3px solid black;*/
}
/*<конец сеточных стилей>*/

.site-navigation a,
.user-navigation a {
  color: #000000;
  display: inline-block;

}

.site-navigation a:hover,
.user-navigation a:hover {
  color:#fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current {
  padding-bottom: 4px;
  border-bottom: 2px solid #fb565a;

}

.slider-slogan,
.page-title {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-slogan {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
}

.slider-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
 }

.studio-details-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  display:inline-block;
  width:240px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 2px;
  text-align: center;
}

.studio-details-button:hover {
  background-color: #e74246;
}

.studio-details-button:active{
  background-color: #d7373b;

  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-wrapper .container-secondslider,
.main-wrapper .container-thirdslider {
  display: none;
}

.features {
  padding-top: 80px;

  }

.description {
  padding-top: 40px;
  padding-bottom: 78px;
}

.feature-list {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  width: 1160px;
}

.feature-list li {
  width:300px;
  margin-right:100px;
  margin-bottom: 80px;
}
.feature-list li:nth-child(3) {
  width:300px;
  margin-right:0;
}

.features-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 16px;

}

.features-item-text {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display:inline-block;
  width:244px;
  padding:0;
  margin-bottom:32px;
  margin-top:0;
}

.order-button-web {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  display:inline-block;
  width:160px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 2px;
  text-align: center;
  background-color: #fb565a;

}

.order-button-web:hover {
  background-color: #e74246;
}

.order-button-web:active {
  background-color: #d7373b;

 color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.order-button-app{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  display:inline-block;
  width:160px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 2px;
  text-align: center;
  background-color: #00ca74;

}

.order-button-app:hover {
  background-color: #00bc6c;
}

.order-button-app:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
 }

.order-button-prez {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  display:inline-block;
  width:160px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 2px;
  text-align: center;
  background-color: #efc84a;

}

.order-button-prez:hover {
  background-color: #eab534;
}

.order-button-prez:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

hr {
  width:1160px;
  height:0;
  border:0;
  border-top: 2px solid #eeeeee;
  margin: 0 auto;
}

.main-wrapper hr:last-of-type {
padding-bottom: 20px;
}
.description-details {
  width:360px;
}

.description-details .description-list {
  display:flex;
  justify-content:space-between;
}

.description-details .description-summary {
  text-align: center;
}


.description-main {
  width:800px;
}

.description-header,
.description-text,
.description-summary,
.description-figure {
  padding:0;
  margin:0;
}

.description-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  padding-top:36px;
  padding-bottom: 32px;
  max-width: 650px;
}

.description-summary {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.description-main .description-summary {
  padding-top:38px;
  padding-bottom:26px;
}
.description-details .description-summary {
  padding-top:30px;
  padding-bottom:40px;
}

.description-main li:not(:last-of-type) {
  padding-bottom: 22px;
}

.description-main li:before {
  content:"";
   display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  vertical-align: middle;
  margin:0;
  margin-right: 12px;
}

.description-details li {
  padding-right: 18px;
}

.description-figure {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
  padding-bottom: 20px;
}

.description-figure-percent {
  top: -0.3em;
  font-size:70%;
}



.description-text {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.description-details .description-text {
  line-height: 18px;
}

.partners-list {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  max-width: 1200px;
  padding:0;
  margin: 0;
  margin-bottom: -8px;
}

.partners-list li:not(:last-child) {
  background-image:url("../img/div.png");
  background-repeat:no-repeat;
  background-position: 100% 50%;
}

.partners-list li:first-child,
.partners-list li:nth-child(5n){
padding-left: 0;
padding-right: 20px;
}

.partners-list li:nth-child(4n){
padding-left: 20px;
padding-right: 0;
}

.partners-list li:nth-child(4n+2),
.partners-list li:nth-child(4n+3){
  padding-left: 20px;
  padding-right: 20px;
}

.partners-list a {
  opacity: 0.2;
  padding: 0;
}

.partner-logo:hover {
  opacity: 1;
}

.partner-logo:active {
  opacity: 0.1;
}

.marker-container {
  position: absolute;
  top:39%;
  left:63%;
  width:367px;
  height:190px;
  z-index:10;
  margin-left:-231px;
  margin-top:-75px;
}
.footer-contacts-container {
   width:100%;
  height:416px;
  background-image:url("../img/map.jpg");
  background-color: #eeeeee;
  background-size:100% 416px;
  display:flex;
  align-items:center;
  margin-left:auto;
  margin-right: auto;
  margin-top: 0;
  position:relative;
  background-repeat: no-repeat;
  margin-top: 58px;
}

.address-container {
  width:270px;
  background-color: white;
  margin:0;
  padding-left:50px;
  padding-bottom:47px;
  padding-top:54px;
}
.footer-contacts-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding:0;
  margin:0;
  padding-bottom: 24px;
}

.footer-contacts-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #666666;
  padding:0;
  margin:0;
  padding-bottom: 18px;
  display:block;
  max-width: 210px;

}

.social-links {
  display:flex;
  align-items:center;
  padding-bottom: 55px;
  padding-top: 64px;
}

.footer-social-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin:0;

  padding-bottom: 12px;
  display:block;
}

.footer-social {
  display:flex;
  flex-wrap:wrap;
  margin-left: 0;
  margin-right: 128px;
  padding:0;
  max-width: 300px;

/*  outline: 2px green solid;*/
}

.social-button {
  background-color: #e1e1e1;;
  padding:10px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-button:focus path {
  opacity:0.3;
}

.social-slogan p {
  display:block;
  margin:0;
}

.social-slogan p:last-of-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.response-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  display:inline-block;
  width:220px;
  border-radius:2px;
  padding-top: 16px;
  padding-bottom: 18px;
  text-align:center;
  margin-top:19px;

}

.response-button:hover {
  background-color: #e74246;
}
.response-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.popup-container {
  width:860px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  padding:0;
  padding-top:70px;
  padding-left:100px;
  padding-bottom: 70px;
/*  display: none;*/
}

.popup-title-container {
  display:flex;
}

.popup-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  display: block;
  padding:0;
  margin:0;
  position:relative;
  padding-right: 434px;
  padding-bottom: 40px;
}

.button-close {
  background-color:transparent;
  border:none;
  opacity: 0.3;
  padding:0;
  margin:0;
  position:absolute;
  top:-10px;
  left:748px;
  outline: none;
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}

.popup-form {
  display: flex;
  width:760px;
  flex-wrap:wrap;
  padding:0;
  margin:0;
}
.popup-form fieldset
 {
  padding:0;
  margin:0;
}


.form-text {
  display:inline-block;
  padding:0;
  margin:0;
  margin-bottom: 22px;
}

.popup-form p:first-of-type{
  margin-right: 36px;
}

}
.form-textarea {
  display:block;
  padding:0;
  margin:0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.popup-form label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  padding-bottom: 10px;
}

.popup-form fieldset {
  border:none;
}

.popup-form input {
  width: 340px;
  height: 46px;
  padding: 0 0 0 16px;
  border-radius: 3px;
  font-size: 16px;
}

.popup-form textarea {
  width: 740px;
  height: 102px;
  padding: 12px 0 0 16px;
  resize:none;
  margin-bottom: 40px;
  font-size: 16px;
}

.form-textarea {
  margin-top: 10px;
}
.popup-form input,
.popup-form textarea {
  border: 2px solid #d7dcde;
  opacity: 0.5;
  color: #444444;
    border-radius: 3px;
}

.popup-form input:hover,
.popup-form textarea:hover {
  border: 2px solid #b4b9bb;
  opacity: 0.5;
  color: #444444;
}

.popup-form input:focus,
.popup-form textarea:focus {
  border: 2px solid #000000;
  opacity: 1;
  background-color: #ffffff;
  outline: none;

}

.popup-form input:invalid {
  border: 2px solid #e74246;
  opacity: 1;
  background-color: #ffffff;
  color:#e74246;

}

.submit-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  display:inline-block;
  width:260px;
  height:50px;
  border-radius:2px;
  vertical-align: middle;
  text-align:center;
  outline: none;
}

.submit-button:hover {
  background-color: #e74246;
}
.submit-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.filters-form-container {
  width:400px;
  margin:0;
  padding:0;
  padding-top:56px;
}

.range-input {
  width:261px;
  height:80px;
  border-radius: 5px;
  background-color:#eeeeee;
  margin-top: 48px;

  margin-bottom: 13px;
  position: relative;
}

.line {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width:219px;
  height:2px;
  background-image: linear-gradient(90deg, #00ca74 152px, #d7dcde 109px);
  top:38px;
  left:20px;
}

.range-input img:first-of-type {
  position: absolute;
  top:30px;
  left:20px;
}

.range-input img:hover {
  cursor: pointer;
}

.range-input img:last-of-type {
  position: absolute;
  top:30px;
  left:162px;
}

.range-output {
  display: inline-block;

}

.range-output output {
  display: inline-block;
  width:80px;
  border-radius: 3px;
  background-color:#eeeeee;
  text-align: center;
  vertical-align: middle;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 8px;
  padding-top: 8px;

}
.range-output output:first-of-type {
   margin-right: 30px;
}

.range-output label {
color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
  padding: 0
}

.range-container {
  margin-bottom: 54px;
}
.filter fieldset {
  border:none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 10;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.filters-form-container fieldset {
  padding:0;
  margin:0;
}

/*.filters-form-container fieldset:last-child {
  padding:0;
  margin:50px;
}*/
.filters-form-container ul {
  list-style: none;
  padding:0;
  margin:0;
  padding-top:14px;
  padding-bottom: 34px;
}

/*стилизация радиобоксов*/
.radio-filters input,
.check-filters input {
display: none;
}

/*паддинг слева для круглых радиокнопок, кот выезжают за пределы дива на тодщину бордера*/
.radio-filters ul {
  padding-left:4px;
}

.radio-filters input + label::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 14px;
  vertical-align: middle;
  border: 4px solid white;
  box-shadow: 0 0 0 4px #4d4d4d;
  background-color: white;
  opacity: 0.4;
  color: #4d4d4d;
}

.radio-filters input[type="radio"] + label::before {
border-radius: 50%;
}

.radio-filters input:checked + label::before {
background-color: #4d4d4d;
}

.radio-filters input:checked + label {
color: #283136;
opacity: 1;
}

.radio-filters input:hover + label::before {
background-color: #4d4d4d;
opacity: 1;
}

.radio-filters input:hover + label{
color: #283136;
opacity: 1;
}


.radio-filters input:disabled + label::before {
box-shadow: 0 0 0 3px #4d4d4d;
opacity: 0.1;
}

.radio-filters input:disabled + label {
  opacity: 0.3;
  color: #283136;
}

/*стилизаци чекбоксов*/
.check-filters input + label::before {
  content: url("../img/checkbox-off.svg");
  display: inline-block;
 width: 25px;
  height: 23px;
  margin-right: 10px;
background-color: white;
  vertical-align: middle;
opacity: 0.4;
}

.check-filters input:checked + label::before {
  content: url("../img/checkbox-on.svg");
}


.check-filters input:hover+ label::before {
  opacity: 1;
}

.check-filters input:hover+ label {
  opacity: 1;
  color: #283136;
}

.check-filters input:disabled + label::before {
  opacity: 0.1;
}

.check-filters input:disabled + label {
  opacity: 0.3;
  color: #283136;
}

.filter-option {
  padding-bottom:14px;
}

.filter-option label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

.filter-option label:hover {
  color: #000000;
}

.filter-option label:disabled {
  opacity: 0.3;
  color: #283136;
}

.filter-button {
  background-color: #eeeeee;
  border:none;
  width: 260px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  border-radius: 3px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin-top: 2px;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 1, 1, 0.3);

}

.catalog-container {
  width:760px;
  display:flex;
  flex-direction:column;
}

.catalog-list-container,
.catalog-list,
.catalog-sort,
.templates-list,
.pagination-list {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  padding:0;
  margin:0;
  list-style: none;
}

.sorters {
  width:360px;
  display:flex;
}

.templates-list,
.catalog-list,
.catalog-sort {
  justify-content:space-between;
}

.catalog-list-container {
  padding-top:56px;
  padding-bottom:54px;
}

.catalog-list {
  width:272px;
  margin-left:40px;
}

.catalog-sort {
  width:40px;
  margin-left: 48px;
}

.catalog-sort a {
  display:inline-block;
}

.catalog-list-sorter {
  opacity: 0.2;
  color: #a6a6a6;
}

.catalog-list-sorter:hover {
  color: #a6a6a6;
  opacity: 1;
}

.catalog-list-sorter:focus,
.catalog-list-sorter:active {
  color: #231f20;
  opacity: 1;
}

.catalog-list-sorter-active {
  color: #231f20;
  opacity: 1;
}
.catalog-list-text {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding:0;
  margin:0;
  display:inline-block;
  width:360px;
}

.catalog-list-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.catalog-list-button:hover {
  opacity: 0.6;
}

.catalog-list-button:focus,
.catalog-list-button:active {
  opacity: 1;
}

.catalog-list-button-active {
opacity: 1;
}

.templates-list li {
  width:360px;
  margin-bottom: 26px;
  position:relative;
}

.templates-list img {
  /*width:358px;
  height: 574px;*/
  border: 1px solid rgba(0, 1, 1, 0.1);
}


.templates-list li:before {
  content: url("../img/browser.svg");
  margin:0px;
  padding:0;
  display:block;
  width:360px;
  height:40px;
  opacity: 0.12;
}

.templates-list li:hover:before{
  opacity: 1;
}

.template-hover-bottom {
  width:360px;
  background-color: #eeeeee;
  padding-top:35px;
  padding-bottom: 44px;
  left:0;
  bottom: 7px;
  position:absolute;
  /*display:none;*/
  display:flex;
  flex-direction:column;
  align-items:center;
  }



.templates-list li:hover .template-hover-bottom {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.template-hover-header {
  display:block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  padding:0;
  margin: 0;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.template-hover-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #666666;
  display:block;
  width:240px;
  text-align: center;
  padding:0;
  margin: 0;
  padding-bottom: 12px;
 /* flex-basis: 200px;*/
  max-height: 200px;
  overflow: hidden;
}

.template-hover-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  display: inline-block;
  width:200px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 2px;
  margin-top: 20px;
}

.template-hover-button:hover {
  background-color: #e74246;
}

.template-hover-button:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.pagination-list {
  justify-content:start;
  padding-top:24px;
/*  padding-bottom:60px;*/
}
.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;

  display:inline-block;
  text-align: center;
  width:50px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 2px;
  margin-right:11px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}


.pagination-item a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 1, 1, 0.3);

}

.pagination-item-current a {
  width:44px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: solid 3px #dbdbdb;
  opacity: 1;
  background-color: #ffffff;
}

.pagination-next a {
  width:254px;
  margin-left: 4px;
}
